<!doctype html>
<html>

    <head>
        <title>Play Game</title>
      </head>
    <body>
        
        <form action="/madlib">
            Please choose color:
            <select name="pick_color">
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
        </select> <br>
        Please choose noun:
        <select name="pick_noun">
            <option value="house">House</option>
            <option value="car">Car</option>
            <option value="plant">Plant</option>
    </select><br>
        Pick a name:
        <select name="get_name_person">
        <option value="Kelly">Kelly</option>
        <option value="Carole">Carole</option>
        <option value="Jocelyn">Jocelyn</option>
    </select><br>
        Please choose an adjective:
            <select name="pick_adjective">
                <option value="happy">Happy</option>
                <option value="bad">Bad</option>
                <option value="mad">Mad</option>
            </select> <br>
                <input type="submit"><br>
        </form>
    </body>
</html>
